lambda

In [6]:
def tambah(*a): # * menandakan args
    hasil = 0
    for i in a: 
        hasil += i
    return hasil

total = tambah(1,1,1,1,1,1,1,1,1,1) #cek return
print('Total penjumlahan = ', total)

#fungsi lambda 
ratarata = lambda b : b/10 

#pakai return di fungsi lambda
print('Rata-rata = ', ratarata(total))

Total penjumlahan =  10
Rata-rata =  1.0

pandas series and df

In [9]:
import pandas as pd
import numpy as np

#series
dataku = np.array(['APPLE', 'ORANGE', 'BANANA', 'GRAPE', 'MANGO'])
seriesku = pd.Series(dataku)
seriesku

0     APPLE
1    ORANGE
2    BANANA
3     GRAPE
4     MANGO
dtype: object

In [10]:
#dataframe
dfku = pd.DataFrame(dataku)
dfku

        0
0   APPLE
1  ORANGE
2  BANANA
3   GRAPE
4   MANGO

SLICING SERIES DGN LOC ILOC

In [12]:
dataslice = np.array(['Januari', 'Februari', 'Maret',
                      'April', 'Mei', 'Juni',
                      'Juli', 'Agustus', 'September',
                      'Oktober', 'November', 'Desember'])
myseries = pd.Series(dataslice, index = [1,2,3,4,5,6,7,8,9,10,11,12])
print(myseries)

1       Januari
2      Februari
3         Maret
4         April
5           Mei
6          Juni
7          Juli
8       Agustus
9     September
10      Oktober
11     November
12     Desember
dtype: object

In [13]:
print(myseries.loc[1:12])

1       Januari
2      Februari
3         Maret
4         April
5           Mei
6          Juni
7          Juli
8       Agustus
9     September
10      Oktober
11     November
12     Desember
dtype: object

In [15]:
print(myseries.iloc[0:13])

1       Januari
2      Februari
3         Maret
4         April
5           Mei
6          Juni
7          Juli
8       Agustus
9     September
10      Oktober
11     November
12     Desember
dtype: object

In [17]:
print(myseries.values)

['Januari' 'Februari' 'Maret' 'April' 'Mei' 'Juni' 'Juli' 'Agustus'
 'September' 'Oktober' 'November' 'Desember']

SERIES CONDITIONAL SELECTION AND OPERATIONS

In [38]:
#nomor 1

dataawal = np.array([408,943,902,117,389,435,793,356,651,993,786,157])
myseries2 = pd.Series(dataawal, index = ['Januari', 'Februari', 'Maret',
                                        'April', 'Mei', 'Juni',
                                        'Juli', 'Agustus', 'September',
                                        'Oktober', 'November', 'Desember'])
print(myseries2)

Januari      408
Februari     943
Maret        902
April        117
Mei          389
Juni         435
Juli         793
Agustus      356
September    651
Oktober      993
November     786
Desember     157
dtype: int32

In [ ]:
#nomor 2
print('Rata-rata = ', myseries2.mean())

Rata-rata =  577.5

In [ ]:
#nomor 3
myseries2 > myseries2.mean()

Januari      False
Februari      True
Maret         True
April        False
Mei          False
Juni         False
Juli          True
Agustus      False
September     True
Oktober       True
November      True
Desember     False
dtype: bool

In [ ]:
# nomor 3

print(myseries2) #print series awal
myseries2[myseries2 > myseries2.mean()] = myseries2.mean() #ganti nilai

Januari      408
Februari     943
Maret        902
April        117
Mei          389
Juni         435
Juli         793
Agustus      356
September    651
Oktober      993
November     786
Desember     157
dtype: int32

In [ ]:
# nomor 4
print(myseries2) #print yang sudah diubah

Januari      408.0
Februari     577.5
Maret        577.5
April        117.0
Mei          389.0
Juni         435.0
Juli         577.5
Agustus      356.0
September    577.5
Oktober      577.5
November     577.5
Desember     157.0
dtype: float64