Assignment tipe data - emik

In [13]:
#nomor 1
musim = 'Musim Semi'
print(musim)

Musim Semi

In [14]:
#nomor 2
sum_math = 3+4+5
print(sum_math)
hard_math = 3+4+5
print(hard_math)

12
12

In [15]:
#nomor 3
number_str = '08123123123'
print(number_str)

08123123123

In [16]:
#nomor 4

namaku = 'emik'     #string
umur = 27           #integer 
berat = 49.5        #float 
perempuan = True    #boolean

print("Namaku:", namaku, "; tipe data:", type(namaku))
print("Umurku:", umur, "; tipe data:", type(umur))
print("Beratku:", berat, "; tipe data:", type(berat))
print("Apakah aku perempuan?", perempuan, "; tipe data:", type(perempuan))

Namaku: emik ; tipe data: <class 'str'>
Umurku: 27 ; tipe data: <class 'int'>
Beratku: 49.5 ; tipe data: <class 'float'>
Apakah aku perempuan? True ; tipe data: <class 'bool'>

In [9]:
#nomor 5

print('konversi int ke float')
var1 = 45
print("Variabel1:", var1, "; tipe data variabel 1:", type(var1))
var1_float = float(var1) 
print("Variabel1 setelah konversi:", var1_float, "; tipe data variabel 1:", type(var1_float))
print()

print('konversi float ke int')
var2 = 0.667
print("Variabel2:", var2, "; tipe data variabel 2:", type(var2))
var2_int = int(var2) 
print("Variabel2 setelah konversi:", var2_int, "; tipe data variabel 2:", type(var2_int))
print()

print('konversi int ke hexadesimal')
var3 = 12
print("Variabel3:", var3, "; tipe data variabel 3:", type(var3))
var3_hex = hex(var3) 
print("Variabel3 setelah konversi:", var3_hex, "; tipe data variabel 3:", type(var3_hex))
print()

print('konversi int ke string')
var4 = 119
print("Variabel4:", var4, "; tipe data variabel 4:", type(var4))
var4_str = str(var4) 
print("Variabel4 setelah konversi:", var4_str, "; tipe data variabel 4:", type(var4_str))
print()

konversi int ke float
Variabel1: 45 ; tipe data variabel 1: <class 'int'>
Variabel1 setelah konversi: 45.0 ; tipe data variabel 1: <class 'float'>

konversi float ke int
Variabel2: 0.667 ; tipe data variabel 2: <class 'float'>
Variabel2 setelah konversi: 0 ; tipe data variabel 2: <class 'int'>

konversi int ke hexadesimal
Variabel3: 12 ; tipe data variabel 3: <class 'int'>
Variabel3 setelah konversi: 0xc ; tipe data variabel 3: <class 'str'>

konversi int ke string
Variabel4: 119 ; tipe data variabel 4: <class 'int'>
Variabel4 setelah konversi: 119 ; tipe data variabel 4: <class 'str'>

Assignment input-output

In [3]:
myname = input("Masukkan Nama = ")
myage = input("Masukkan Umur = ")
myaddress = input("Masukkan Alamat = ")

print('Halo', myname, 'Selamat Datang di Koding Akademi!')
print('Berikut Identitas Anda:')
print(f"Nama = {myname} \nUmur = {myage} tahun \nAlamat = {myaddress}")

Halo Emik Selamat Datang di Koding Akademi!
Berikut Identitas Anda:
Nama = Emik
Umur = 27 tahun
Alamat = Sukawati