LIST

In [1]:
alamatbali = ['denpasar', 'canggu', 'tabanan']
print(alamatbali)

['denpasar', 'canggu', 'tabanan']

In [3]:
print(alamatbali[0])
print(alamatbali[1])
print(alamatbali[2])

denpasar
canggu
tabanan

In [5]:
for i in alamatbali:
    print(i)

denpasar
canggu
tabanan

In [6]:
for i in range(3):
    print(alamatbali[i])

denpasar
canggu
tabanan

In [7]:
len(alamatbali)

3

In [8]:
for i in range(len(alamatbali)): #tanpa deklarasi scr langsung rangenya
    print(alamatbali[i])

denpasar
canggu
tabanan

In [9]:
#cara ambil lebih dari 1 value di list
#dengan slicing

alamatbali = ['denpasar', 'canggu', 'tabanan']

alamatbali[0 : 2] #[start, batas] yg tampil dari awal sampai sebelum batas

['denpasar', 'canggu']

In [10]:
alamatbali[1 :] #[start, sampai ke belakang semua]

['canggu', 'tabanan']

In [11]:
alamatbali[-1] #-1 itu data paling belakang

'tabanan'

In [ ]:
alamatbali[-3:-2] #[start, batas, yang tampil sampai sebelum batas]

['denpasar']

In [13]:
alamatbali[:-1]

['denpasar', 'canggu']

In [14]:
alamatbali[-3:]

['denpasar', 'canggu', 'tabanan']

In [ ]:
alamatini = ['dps', 'cgu', 'tbn', 'gyr']

alamatini[0:3:2] #start, batas, step

['dps', 'tbn']

In [17]:
#nampilin list dgn urutan terbalik
#khusus di python

alamatini[::-1]

['gyr', 'tbn', 'cgu', 'dps']

UPDATE DATA DI LIST

In [18]:
alamatini = ['dps', 'cgu', 'tbn', 'gyr']

alamatini[0] = 'bdg'

alamatini

['bdg', 'cgu', 'tbn', 'gyr']

In [20]:
#update list tanpa index
#pakai append untuk menambah data ke list di belakang

alamatini.append('sby')

alamatini

['bdg', 'cgu', 'tbn', 'gyr', 'sby']

In [30]:
#pakai insert untuk nambah data sesuai posisi yang diinginkan

alamatini.insert(0, 'mlg') #nambah mlg di indeks 0
alamatini

['mlg', 'mlg', 'mlg', 'mlg', 'mlg', 'bdg', 'cgu', 'tbn', 'gyr', 'sby']

In [35]:
alamatini.remove('mlg')
alamatini

['bdg', 'cgu', 'tbn', 'gyr', 'sby']

In [36]:
hapus = alamatini.pop(1)

In [37]:
hapus

'cgu'

In [38]:
alamat1 = ['dps', 'cgu']
alamat2 = ['gyr', 'bdg']
hasil = alamat1 + alamat2
hasil

['dps', 'cgu', 'gyr', 'bdg']

In [39]:
hasil2 = alamat1 * 2
hasil2

['dps', 'cgu', 'dps', 'cgu']

LIST MULTIDIMENSI

In [40]:
listm = [
    [0,1,2],
    [3,4,5],
    [6,7,8]
]
listm

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [41]:
listm[0]

[0, 1, 2]

In [ ]:
listm[0][0] #[indeks list awal][indeks list dalam list]

0

In [ ]:
listm[1][2]

5

In [45]:
for i in listm:
    print(i)
    for j in i:
        print(j)

[0, 1, 2]
0
1
2
[3, 4, 5]
3
4
5
[6, 7, 8]
6
7
8

In [46]:
listm_new = [i**2 for i in range(5)]

listm_new

[0, 1, 4, 9, 16]

fungsi map

In [47]:
# map adlh fungsi yang bisa membuat data list 
# masuk satupersatu ke dalam var

a,b,c = map(float, [1,2,3])

#angka 1 dikonvert dulu ke float, lalu diinput ke a, dst

a

1.0

fungsi split

In [48]:
kataku = input('masukkan kata :')
splitku = kataku.split()

#split itu membuat list dari string, dgn pemisahnya spasi

print(splitku)

['aku', 'mau', 'baca', 'buku', 'hehe']

gabungan map dan split

In [56]:
d,e,f = map(float, input('angka : ').split())

print(d)
print(e)
print(f)

1.0
11.0
111.0

fungsi list

In [57]:
perabjad = list('halo')
perabjad

['h', 'a', 'l', 'o']

gabungin fungsi list, map, split

In [59]:
dataangka = list(map(float, input('angka : ').split()))
#pakai fungsi list agar tidak perlu mapping satusatu di kiri

dataangka

[1.0, 22.0, 333.0, 44.0, 5.0, 6.0]

DICTIONARY

In [71]:
# dict ditandai dengan { }
# list [ ]
# dict diakses dengan key. Urutannya key:value
# list diakses dengan indeks
# dict itu berupa set (himpunan) makanya pakai { }
# karena set, data pada dict tidak bisa redundan, kalau pada list bisa

In [62]:
dict1 = {
    'nama' : 'emik',
    'alamat' : 'sukawati'
}

print(dict1['nama'])

emik

In [63]:
#fungsi dict untuk buat dictionary
#tanpa deklarasi jenis var di key

dict2 = dict{nama : 'emik', alamat: 'sukawati'}
print(dict2['nama'])

SyntaxError: invalid syntax (2294903763.py, line 4)

In [65]:
for i in dict1:
    print(dict1[i])

emik
sukawati

In [ ]:
#edit data di dict

datadict = {
    'nama' : 'emik',
    'alamat' : 'sukawati'
}

datadict['nama'] = 'pitri'
datadict

{'nama': 'pitri', 'alamat': 'sukawati'}

In [67]:
# di dict juga ada del dan pop

del datadict['nama']
datadict

{'alamat': 'sukawati'}

In [69]:
# pop untuk nyimpan value yang dihapus

datadict = {
    'nama' : 'emik',
    'alamat' : 'sukawati'
}

cobahapus = datadict.pop('nama')
print(datadict)
print(cobahapus)

{'alamat': 'sukawati'}
emik

ADD DATA KE DICT

In [70]:
datadict = {
    'nama' : 'emik',
    'alamat' : 'sukawati'
}

datadict.update({'hobi':'nulis'})
datadict

{'nama': 'emik', 'alamat': 'sukawati', 'hobi': 'nulis'}

In [ ]:
datalist = [1,2,3,4,5,5,5,5,6,7,7,8]
dataset = {1,2,3,4,5,5,5,5,6,7,7,8}

print(datalist)
print(dataset) #kalau mau tambah data pakai .update

[1, 2, 3, 4, 5, 5, 5, 5, 6, 7, 7, 8]
{1, 2, 3, 4, 5, 6, 7, 8}