function lambda

In [1]:
def tampil(a):
    print(a)

tampil('emik')

emik

In [2]:
#cara buat yang sama dengan function lambda
# rumus
# lambda, parameters : action

tambah = lambda a,b : a+b
tambah(10,20)

30

PANDAS

In [3]:
#bedanya pandas series dgn pandas dataframe
#pandas series itu data hanya berupa data baris (hanya 1 kolomnya)
#pandas dataframe berupa baris dan kolom (kolomnya bisa lebih dari 1)

In [ ]:
import pandas as pd
import numpy as np

#series
dataku = np.array(['a', 'b', 'c', 'd']) #bisa juga pakai array yang bukan numpy
seriesku = pd.Series(dataku)
seriesku

0    a
1    b
2    c
3    d
dtype: object

In [7]:
#dataframe

dfku = pd.DataFrame(dataku)
dfku

   0
0  a
1  b
2  c
3  d

pandas series

In [9]:
data = ['a', 'b', 'c']

#custom index
series1 = pd.Series(data, index = ['satu', 'dua', 'tiga'])
series1

satu    a
dua     b
tiga    c
dtype: object

In [11]:
#akses series dengan custom index 
#(kalau tidak ada custom akses pakai index biasa)

series1['satu']

'a'

In [13]:
#slicing

data2 = ['a', 'b', 'c', 'd', 'e']
series2 = pd.Series(data2)
print(series2[0:4]) # namaseries[awal:batas]

0    a
1    b
2    c
3    d
dtype: object

In [ ]:
#slicing LOC dan ILOC

data3 = ['a', 'b', 'c', 'd', 'e']

#custom index
series3 = pd.Series(data3, index = ['satu', 'dua', 'tiga', 'empat', 'lima'])

#loc itu slicing pakai index yg kita buat
#bisa juga pakai index aslinya, tapi polanya tetep [awal:akhir], tidak ada batas
series3.loc['satu':'empat'] # loc[awal:akhir] tidak pakai batas

satu     a
dua      b
tiga     c
empat    d
dtype: object

In [ ]:
#iloc itu slicing pakai index aslinya dan pakai batas
series3.iloc[0:4] # iloc[awal:batas]

satu     a
dua      b
tiga     c
empat    d
dtype: object

OPERATIONS PADA SERIES

In [19]:
data4 = [1000,2000,3000,4000,5000]
series4 = pd.Series(data4)
series4

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [21]:
#cek kondisi
series4 > 2000

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [22]:
#panggil dengan kondisi

series4[series4 > 2000] #semua yang True akan dicetak

2    3000
3    4000
4    5000
dtype: int64

In [ ]:
#panggil dengan operator logika

series4[(series4 > 2000) & (series4 < 3500)]

2    3000
dtype: int64

In [27]:
#operasikan dengan operator matematika

series4 + 1000

0    2000
1    3000
2    4000
3    5000
4    6000
dtype: int64

In [28]:
series4

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [29]:
#contoh penjumlahan pada series

data5 = [1000,2000,3000,4000,5000]
data6 = [2000,2500,3500,5000,5500]

series5 = pd.Series(data5)
series6 = pd.Series(data6)

hasiltambah = series5 + series6
hasiltambah

0     3000
1     4500
2     6500
3     9000
4    10500
dtype: int64

In [30]:
#cara lain buat menambahkan, dengan fungsi add

hasiltambah2 = series5.add(series6)
hasiltambah2

0     3000
1     4500
2     6500
3     9000
4    10500
dtype: int64

In [32]:
#fungsi sum

series5.sum()

15000

In [34]:
#ngecek tipe data pada series

series5.dtype

dtype('int64')

In [ ]:
#konversi tipe data pada series dengan .astype

series5_float = series5.astype(float)
series5_float

0    1000.0
1    2000.0
2    3000.0
3    4000.0
4    5000.0
dtype: float64

In [38]:
#ngubah nilai elemen pada series

print(series5)
series5[0] = 10000
print(series5)

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64
0    10000
1     2000
2     3000
3     4000
4     5000
dtype: int64

In [39]:
# rata-rata

series5.mean()

4800.0