Operator aritmatika

In [2]:
angka1 = 10
angka2 = 3
print(f"angka1 = {angka1}")
print(f"angka2 = {angka2}")

tambah = angka1 + angka2
print(f"tambah = {tambah}")

kurang = angka1 - angka2
print(f"kurang = {kurang}")

kali = angka1 * angka2
print(f"kali = {kali}")

bagi = angka1 / angka2
print(f"bagi = {bagi}")

sisabagi = angka1 % angka2 #modulo
print(f"sisabagi = {sisabagi}")

pangkat = angka1 ** angka2
print(f"pangkat = {pangkat}")

angka1 = 10
angka2 = 3
tambah = 13
kurang = 7
kali = 30
bagi = 3.3333333333333335
sisabagi = 1
pangkat = 1000

In [3]:
#penjumlahan string

word1 = 'hello'
word2 = 'world'

tambah_string = word1 + word2
tambah_string

'helloworld'

Operator penugasan

In [4]:
angka1 += 1 #sama dengan angka1 = angka1 + 1
print(angka1)

angka1 -= 2 #sama dengan angka1 = angka1 - 1
print(angka1)

angka1 *= 1 #sama dengan angka1 = angka1 / 1
print(angka1)

angka1 /= 1 #sama dengan angka1 = angka1 / 1
print(angka1)

#dst

11

Operator perbandingan

In [9]:
angka3 = 20
angka4 = 40

#1 kondisi. kalau bandingin 2 kondisi atau lebih pakai operator logika
print(angka3 < angka4) 
print(angka3 > angka4)
print(angka3 == angka4)
print(angka3 != angka4)
print(angka3 <= angka4)
print(angka3 >= angka4)

True
False
False
True
True
False

Operator logika

In [12]:
#AND
print(angka1 < angka2 and angka3 < angka4)

#OR
print(angka1 < angka2 or angka3 < angka4)

#NOT #negasi
print(not(angka1 < angka2 or angka3 < angka4))

#bisa lebih dari dua kondisi

False
True
False

List dan IN operator

In [14]:
#list merupakan variabel yang bisa menyimpan lebih dari satu value

list1 = [1,2,3,4,5]
angkalist = 10

print(angkalist in list1)
print(angkalist not in list1)

False
True

Operator IS

In [15]:
#is itu sama dengan operator ==

Operator perbandingan pada string

In [18]:
a1 = 'agung'
a2 = 'william'

a1<a2 #yang dilihat huruf pertama

True

In [20]:
a1 = 'fitri'
a2 = 'anita'

a1<a2 #yang dilihat huruf pertama

False

In [21]:
a1 = '34'
a2 = '4'

a1<a2 #yang dilihat angka pertama

True

In [22]:
#tips: hati2 karena hasil dari fungsi input() selalu STRING
#kalau mau mengoperasikan, jangan lupa konvert dulu

IF statement

In [27]:
#konsep:

if True:
    print('kondisi true')
else:
    print('kondisi false')

kondisi true

In [23]:
username = 'emik'

if username == 'emik': #janlup pakai tab dan : di statementnya
    print(f"hai {username}") #kondisi saat True

hai emik