Project 2 - Data Uber - by Emik

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os

folder_path = r'C:\Users\Emik\GITHUB_emik\Bootcamp_dataanalyst\uber-traffic'
load_folder = os.listdir(folder_path)  
load_folder

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-janjune-15.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [3]:
# fokus di data tahun 2014, hapus data 2015

load_folder.remove('uber-raw-data-janjune-15.csv')
load_folder

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [7]:
data_uber2014 = pd.DataFrame()

for file in load_folder:
    df = pd.read_csv(folder_path+"/"+file,encoding='utf-8')
    data_uber2014 = pd.concat([df,data_uber2014])

In [8]:
data_uber2014.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [9]:
data_uber2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4534327 entries, 0 to 564515
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   Date/Time  object
 1   Lat        float64
 2   Lon        float64
 3   Base       object
dtypes: float64(2), object(2)
memory usage: 173.0+ MB

In [10]:
data_uber2014['Date/Time'] = pd.to_datetime(data_uber2014['Date/Time'],
                                            format="%m/%d/%Y %H:%M:%S")
data_uber2014.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4534327 entries, 0 to 564515
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   Date/Time  datetime64[ns]
 1   Lat        float64
 2   Lon        float64
 3   Base       object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 173.0+ MB

In [11]:
#split data pada kolom Date/Time menjadi 5 kolom

data_uber2014['weekday'] = data_uber2014['Date/Time'].dt.day_name()
data_uber2014['day'] = data_uber2014['Date/Time'].dt.day
data_uber2014['minute'] = data_uber2014['Date/Time'].dt.minute
data_uber2014['month'] = data_uber2014['Date/Time'].dt.month
data_uber2014['hour'] = data_uber2014['Date/Time'].dt.hour

data_uber2014.dtypes

Date/Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
weekday              object
day                   int32
minute                int32
month                 int32
hour                  int32
dtype: object

In [12]:
data_uber2014.head()

,Date/Time,Lat,Lon,Base,weekday,day,minute,month,hour
0,2014-09-01 00:01:00,40.2201,-74.0021,B02512,Monday,1,1,9,0
1,2014-09-01 00:01:00,40.7500,-74.0027,B02512,Monday,1,1,9,0
2,2014-09-01 00:03:00,40.7559,-73.9864,B02512,Monday,1,3,9,0
3,2014-09-01 00:06:00,40.7450,-73.9889,B02512,Monday,1,6,9,0
4,2014-09-01 00:11:00,40.8145,-73.9444,B02512,Monday,1,11,9,0